@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* The .active class is applied to a <NavLink> element
automatically when the route it points to is active. For example,
when the user navigates to the /about page, the <NavLink to='/about'> will have the .active class. */
*{
    font-family: 'Outfit', sans-serif;
}
.active hr{
    @apply block
}
::-webkit-scrollbar {
 @apply hidden
 
}
.horizontal-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
  
    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .horizontal-scroll::-webkit-scrollbar {
    display: none;
  }
  .long-text {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  